<header>
    <img class="header-logo" src="../images/logo.png" alt="logo">
    <input class="searchbar" id="searchInput" type="text" placeholder="Search">
    <% if (logged) { %> 
        <button type="button" class="header-logout">
            <a class="header-logout" href="/users/logout"> Logout </a>
        </button>
    <% } else { %> 
        <button type="button" class="header-logout">
            <a href="/users"> Login </a>
        </button>
        
    <% } %>

</header>