<nav>
    <a href="/"> Home </a>
    <% if (logged) { %> 
        <a href="/users/logout"> Logout </a>
    <% } else { %> 
        <a href="/users"> Login </a>
    <% } %>
    <a href="/users/users_list"> Users </a>    
    <a href="/tags"> Tag </a>
    <br>
    <br>
    <a href="/questions/ask" class="newAsk"> <p class="hc"> Ask </p> </a>
</nav>